/* reset  */
*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* general settings */
html{
    font-family: 'Montserrat', sans-serif;
}
/* blocks */
aside{
    height: calc(100vh - 100px);
    background-color: green;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.music-player{
    background-color: yellow;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
header{
    background-color: #080B12;
    width: calc(100% - 250px);
    height: 90px;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 5;
}
main{
    width: 100%;
}
.big-container{
    display: flex;
}
.container{
    background-color: #141922;
    height: 100%;
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    padding: 110px 20px 120px 20px;
}
/* container contents  */
.menu-options a{
    color: #7e7f82;
    text-decoration: none;
    text-transform: uppercase;
}
.options-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.options-list ul{
    margin: auto;
}
.options-list li:hover a{
    color: white;
}
.green-line{
    border: 1px solid rgb(0, 255, 0);
    width: 50%;
    margin-inline: auto;
    margin-top: 4px;
}
/* music section */
section{
    padding-top: 2rem;
}
.sec-title, .song-title, .artist-title{
    color: white;
}
.song-title, .artist-title{
    font-size: 1.2rem;
}
.subtitle{
    color: #7e7f82;
    font-size: .8rem;
}
.song, .artist{
    width: 200px;
    text-align: center;
}
.song img, .artist img{
    width: 100%;
}
.song-list, .artist-list{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}
.artist img{
    border-radius: 50%;
}
.small-list{
    width: calc(100% / 3);
}
/* header  */
.upgrade{
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 1rem 2rem;
}
.upgrade:hover{
    transform: scale(1.1);
    transition: .5s;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}