/* reset  */
*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* general settings */
html{
    font-family: 'Montserrat', sans-serif;
}
/* blocks */
aside{
    height: calc(100vh - 100px);
    background-color: #000000;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
.music-player{
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding-inline: 15px;
    justify-content: space-between;
}
header{
    background-color: #080B12;
    width: calc(100% - 250px);
    height: 90px;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 5;
}
main{
    width: 100%;
}
.big-container{
    display: flex;
}
.container{
    background-color: #141922;
    height: 100%;
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    padding: 110px 20px 120px 20px;
}
/* container contents  */
.menu-options a{
    color: #7e7f82;
    text-decoration: none;
    text-transform: uppercase;
}
.options-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.options-list ul{
    margin: auto;
}
.options-list li:hover a{
    color: white;
}
.green-line{
    border: 1px solid rgb(0, 255, 0);
    width: 50%;
    margin-inline: auto;
    margin-top: 4px;
}
/* music section */
section{
    padding-top: 2rem;
}
.sec-title, .song-title, .artist-title{
    color: white;
}
.song-title, .artist-title{
    font-size: 1.2rem;
}
.subtitle{
    color: #7e7f82;
    font-size: .8rem;
}
.song, .artist{
    width: calc(100% / 6);
    text-align: center;
}
.song img, .artist img{
    width: 100%;
}
.song-list, .artist-list{
    padding: 2rem 0;
    display: flex;
    gap: 1rem;
}
.artist img{
    border-radius: 50%;
}
.song-img{
    position: relative;
}
.song-img i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    display: none;
}
.song-img:hover img{
    opacity: 50%;
}
.song-img:hover i{
    display: block;
}
/* header  */
.upgrade{
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 1rem 2rem;
    transition: .5s;
}
.upgrade:hover{
    transform: scale(1.1);
    transition: .5s;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}
/* aside  */
.logo{
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo img{
    width: 70%;
}
.small-logo{
    display: none;
}
/* nav  */
.nav-option{
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 5px;
}
.nav-option:first-child{
    border-left: 3px solid rgb(0, 255, 0);
}
.nav-option:first-child a, .nav-option:first-child path{
    color: white;
    fill: white;
}
.nav-option svg{
    width: 25px;
    margin-right: 10px;
}
.nav-option path{
    fill: #7e7f82;
}
.nav-option a{
    color: #7e7f82;
    text-decoration: none;
}
.nav-option:hover a, .nav-option:hover path{
    color: white;
    fill: white;
}
/* playlist */
.playlist-area{
    padding-left: 20px;
    padding-top: 15px;
    color: #7e7f82;
}
.playlist-title{
    color: white;
    text-transform: uppercase;
}
.playlists{
    padding-top: 10px;
}
.create-playlist i{
    font-size: 3rem;
    margin-right: 5px;
}
.create-playlist{
    display: flex;
    align-items: center;
} 
.empty-playlist{
    margin-top: 1rem;
}
.empty-playlist:hover, .create-playlist:hover{
    color: white;
}
/* aside foot  */
.aside-foot svg{
    width: 25px;
    display: block;
    margin-right: 5px;
}
.install path{
    fill: #7e7f82;
}
.aside-foot{
    color: #7e7f82;
    padding: 20px;
    width: 100%;
    margin-top: 75px;
}
.install, .profile{
    display: flex;
    align-items: center;
}
.install{
    font-size: .8rem;
}
.install:hover, .install:hover path{
    color: white;
    fill: white;
}
.aside-foot hr{
    border: 1px solid #7e7f82;
    margin: 10px 0;
}
.profile{
    color: white;
}
.profile svg{
    background-color: #7e7f82;
    border-radius: 50%;
}
/* music player  */
.current-song img{
    width: 50px;
}
.current-song-title{
    color: white;
    font-weight: bold;
    font-size: .9rem;
}
.current-song-subtitle{
    color: #7e7f82;
    font-size: .7rem;
}
.current-song-subtitle:hover{
    color: white;
    text-decoration: underline;
}
.current-song{
    display: flex;
    align-items: center;
    width: 200px;
}
.song-icons i{
    color: #7e7f82;
    display: block;
    font-size: 1.3rem;
}
.song-icons i:first-child{
    margin-bottom: 5px;
}
.song-icons i:hover{
    color: white;
}
.song-info{
    padding: 0 25px 0 10px;
}
.mixer-options{
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 15px;
}
.play{
    font-size: 2rem;
    margin-inline: 10px;
    transition: .2s;
}
.play:hover{
    transform: scale(1.2);
}
.timeline{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.song-mixer{
    width: 40%;
}
.line{
    width: 100%;
    display: flex;
    position: relative;
}
.past-line, .on-volume{
    width: 30%;
    border: 3px solid #C1C1C1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.future-line, .off-volume{
    width: 70%;
    border: 3px solid #343434;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.time-start, .time-end{
    color: white;
    font-size: .7rem;
}
.ball{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.line:hover .past-line{
    border-color: green;
}
.line:hover .ball{
    display: block;
}
.song-settings{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}
.volume{
    width: 100%;
    display: flex;
    position: relative;
}
.volume:hover .on-volume{
    border-color: green;
}
.volume:hover .ball{
    display: block;
}
/* media  */
@media screen and (max-width: 1101px){
    .song, .artist{
        width: calc(100% / 4 - 1rem);
    }
    .song-list{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 701px){
    .song, .artist{
        width: calc(100% / 2 - 1rem);
    }
    .song-list{
        flex-wrap: wrap;
    }
    .aside-vanish{
        display: none;
    }
    aside{
        width: 50px;
    }
    .container{
        width: calc(100% - 50px);
        left: 50px;
    }
    header{
        left: 50px;
        width: calc(100% - 50px);
    }
    .small-logo{
        display: block;
    }
    .big-logo{
        display: none;
    }
    .nav-option:first-child{
        border-width: 0;
    }
    nav svg{
        transform: scale(1.3);
        margin-bottom: 15px;
        margin-inline: auto;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
} 